nav.navbar.is-primary
    .container
        .navbar-brand
            a.navbar-item
                img(src='https://imagenpng.com/wp-content/uploads/2016/09/gatos-y-perros-png-10.png' width='80' height='128')
        .navbar-menu
            .navbar-end
                .navbar-item
                    span.icon.is-large
                        i.fas.fa-shopping-cart.fa-2x